{% extends "base.html" %}
{% load static %}

{% block content %}
    <body class="body1">
        <form method="post">
            {% csrf_token %}
            <div class="contact_form">
                <h2>Adress</h2>
                <input type="text" placeholder="Enter your Full Name" name="Name" required><br>
                <input type="email" placeholder="Enter your Email" name="Email" value="{{user.email}}" readonly required><br>
                <input type="text" placeholder=" +91 Phone number" name="Mobile_Number" required><br>
                

                <select name="country" id="country">
                    <option value="">Select Country</option>
                    {% for country in countries %}
                        <option value="{{country.id}}">{{country.country_name}}</option>
                    {% endfor %}
                </select>&ensp;

                <select name="states" id="states">
                    <option value="">Select State</option>
                    
                </select>&ensp;

                <select name="district" id="district">
                    <option value="">Select District</option>
                    
                </select><br>

                <input type="text" placeholder="Street Name" name="Street" required><br>
                <input type="text" placeholder="Appartment/Suit/House Number or name" name="Appartment_Suit_House_Number" required><br>
                <input type="text" placeholder="Pin-code" name="Pin_code" required><br>

                <textarea name="comment" rows="4" id="" placeholder="Leave your Delevery Instruction Here ..."></textarea>

                <input type="submit" value="Save Adress">
            </div>
        </form>
            <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

                <script>
                    $(document).ready(function(){
                        $('#country').change(function(){
                            var country_id = $(this).val();
                            
                            if(country_id){
                                $.ajax({
                                    url : 'http://127.0.0.1:8000/home/state/'+country_id,
                                    data : {'id':country_id},
                                    success : function(data){
                                        var selectstate = $('#states');
                                        selectstate.empty();
                                        selectstate.append('<option value="">Select State</option>');
                                        $.each(data, function(index, statee){
                                            selectstate.append('<option value="' + statee.id + '">' + statee.state_name + '</option>');
                                        });
                                    }
                                })
                            }
                        })
                        $('#states').change(function(){
                            var state_id = $(this).val();
                            if(state_id){
                                $.ajax({
                                    url : 'http://127.0.0.1:8000/home/district/'+state_id,
                                    data : {'id':state_id},
                                    success : function(data){
                                        var selectdistrict = $('#district');
                                        selectdistrict.empty();
                                        selectdistrict.append('<option value="">Select District</option>');
                                        $.each(data,function(index,districtee){
                                            selectdistrict.append('<option value="'+districtee.id + '">' + districtee.district_name +'</option>');
                                            
                                        })
                                    }
                            
                                })
                            }
                        })
                    })
                </script>
    </body>
{% endblock %}