{% extends "base.html" %}
{% load static %}

{% block content %}

<body class="body1">
    <h1>MY ADRESS</h1>

    <span class="list">
        {% for a in adress %}
            {% if a.Email == user.email %}
            <a href="" style="text-decoration: none;">
                
                    <div class="list2">
                        <!-- <h2>NAME  : {{ a.Name }}</h2> -->
                        <!-- <h2>EMAIL : {{ a.Email }}</h2> -->
                    
                        <span class="list3">
                            <h2>{{ a.Appartment_Suit_House_Number }} ,</h2>&emsp;
                            <h2>{{ a.Street }} ,</h2>&emsp;
                        
                        
                             {% for d in districts %}
                                {% if d.id == a.district %}
                                    <h2>{{ d.district_name }} ,</h2>
                                {% endif %}
                            {% endfor %}&emsp;
                        
                            {% for s in state %}
                                {% if s.id == a.states %}
                                    <h2>{{ s.state_name }} ,</h2>
                                {% endif %}
                            {% endfor %}&emsp;
                        
                            <h2>{{ a.Pin_code }} ,</h2>&emsp;
                        
                            {% for c in countries %}
                                {% if c.id == a.country %}
                                    <h2>{{ c.country_name }} .</h2>
                                {% endif %}
                            {% endfor %}&emsp;<br>
                        
                        </span>
                        <h2>Contact : {{ a.Mobile_Number }} ;</h2>&emsp;
                        <h2>{{ a.comment }}</h2>&emsp;
                    </div>
                    
                
            </a>
            {% endif %}
            
        {% endfor %}
        
    </span>
    
</body>
{% endblock %}