{% extends "base.html" %}
{% load static %}

{% block content %}
    <body class="body1">

        <form method="post">
            {% csrf_token %}
            <div class="contact_form">
                <h2>Login</h2>
                <input type="text" placeholder="Enter your username" name="username" required><br><br>

                <input type="password" placeholder="Enter your password" name="password" required><br>

                <a href="{% url 'app:forgotpassword' %}">Forgot Password?</a> 

                <p>Don't have an account? <a href="{% url 'app:register' %}" title="click for Register">Register here</a>.</p>
               
                <button type="submit">Send Otp</button>
                
                <input type="text" placeholder="OTP" name="otp" required><br><br>

                    <button type="submit">Log in</button>
            </div>
        </form>
        
    </body>
{% endblock %}