{% extends "base.html" %}
{% load static %}
{% block content %}

<body class="body2">
    <div class="itemcontainer">
        <div class="item1">
            <img class="item1 proimg" src="../media/{{product.product_image}}" alt="55">
        </div>    
        <div>
            <h1>{{product.product_name}}</h1>
            <h3>₹ {{product.product_price}} <sup><small>00</small></sup></h3>
            <h3>M.R.P : 
                <s>₹ {{product.product_mrp}}</s>
                ({{product.product_offer}}% Off)</h3>
            <h3>{{product.product_description}}</h3>
            
            <div class="item2">
                <!-- <form method="post">
                    {% csrf_token %} -->
                <button onclick="subtract()"> - </button>&emsp;
                
                <input style="width: 24px;font-size: 20px;font-weight: bolder; color: black;" id="cartbtn" value="1" disabled>&emsp;
                
                <button onclick="addition()"> + </button><br><br>
                <!-- </form> -->
                <a href="{% url 'app:add_to_cart' slug=product.slug %}">ADD TO CART</a><br><br>
                <a href="{% url 'app:adresslist' %}">PLACE ORDER</a>
            </div>

        </div>
    </div>
    <div style="padding-top: 200px;">

    </div>
    <script>
        function subtract() {
            let value = parseInt(document.getElementById("cartbtn").value);
                if (value == 1) {
                    document.getElementById("cartbtn").value = 10;
            } else {
                document.getElementById("cartbtn").value = value - 1;
            }
        }
        function addition() {
            let value = parseInt(document.getElementById("cartbtn").value);
                if (value >= 10) {
                    document.getElementById("cartbtn").value = 1;
            } else {
                document.getElementById("cartbtn").value = value + 1;
            }
        }
        
    </script>
</body>

{% endblock %}